div{
		width: 25%;
}
.fondo{
	width: 800px;
	border: 2px solid black;
}
.amarillo{
	background-color: yellow;
	height: 100px;
	}
.azul{
	background-color: cyan;
	height: 100px;
}
.rosa{
	background-color: #FF0080;
	height: 100px;
	}
div div{
	float: right;
}
